* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  background-color: #FFFFFF;
  color: #000000;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  width: 100%;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -6px 20px 9px rgba(19, 203, 255, 0.23);
  box-shadow: 0px -6px 20px 9px rgba(19, 203, 255, 0.23);
}

.header__content {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content__logo {
  width: 120px;
}

.img-con {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  height: auto;
}

.header__content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.header__content__item {
  color: inherit;
  margin-right: 35px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.header__content__item:last-child {
  margin-right: 0;
}

.header__content__item:hover {
  text-decoration: underline;
  color: #7000FF;
}

.footer {
  width: 100%;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2c2c;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  padding: 20px 0;
}

.footer__text {
  color: inherit;
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  padding: 60px 40px;
}

.section__title {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 30px;
}

.section__items {
  width: 100%;
  position: relative;
  height: auto;
  padding-bottom: 40px;
}

.section__items__slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__items__slide__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 15px;
}

.section__items__slide__title {
  color: #000000;
  font-weight: 700;
  text-align: left;
  font-size: 18px;
  margin-top: 20px;
}

.section__items__slide__text {
  color: #000000;
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

.section__mainSlider {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  height: 600px;
  position: relative;
}

.swiper-slide {
  position: relative;
  z-index: 1;
}

.img-ab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section__mainSlider__pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.section__items .swiper-pagination-bullet {
  background-color: #2c2c2c;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  background-color: #FFFFFF;
  opacity: 1;
  border-radius: 2px;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.section__items .swiper-pagination-bullet-active,
.swiper-pagination-bullet-active {
  background-color: #7000FF;
  -webkit-transform: scale(1.35);
      -ms-transform: scale(1.35);
          transform: scale(1.35);
}

.card__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__item {
  width: 48%;
}

.card__item .section__items__slide__img {
  padding-bottom: 60%;
}

.cabinet__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 250px);
}

.cabinet__content__left {
  width: 50%;
  height: calc(100vh - 250px);
  overflow-y: auto;
}

.cabinet__content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 250px);
  max-height: 850px;
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
}

.cabinet__content__left__items {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cabinet__content__left__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.cabinet__content__left__item__title {
  text-align: left;
  font-size: 18px;
}

.cabinet__content__left__item__input {
  width: 80%;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 700;
  background-color: #e2e2e2c2;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.cabinet__content__left__item__button {
  width: 80%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #7000FF;
  border-radius: 10px;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.cabinet__content__left__item__button.__noactive {
  background-color: #e2e2e2c2;
  color: #8a8a8a;
  pointer-events: none;
}

.tovars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tovars__model {
  width: 100%;
  height: 100%;
}

.tovars__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tovars__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #8a8a8a;
}

.tovars__item__title {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.tovars__item__title:before,
.tovars__item__title:after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 5px;
  width: 20px;
  height: 2px;
  background-color: #000000;
}

.tovars__item__title:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tovars__item__cards {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none;
  margin-top: 10px;
}

.tovars__item__title.__active:after {
  display: none;
}

.tovars__item__title.__active + .tovars__item__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tovars__item__cards .section__items__slide {
  width: 40%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #8a8a8a;
  margin-right: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.tovars__item__cards .section__items__slide.__active:hover,
.tovars__item__cards .section__items__slide.__active {
  background-color: #7000FF;
}

.section__items__slide.__active:hover .section__items__slide__text,
.section__items__slide.__active:hover .section__items__slide__title,
.section__items__slide.__active .section__items__slide__title,
.section__items__slide.__active .section__items__slide__text {
  color: #FFFFFF;
}

.tovars__item__cards .section__items__slide:hover {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.error {
  color: #ff0000;
  font-size: 16px;
}